body {
    background-image: url('https://www.istockphoto.com/photo/antique-paper-texture-yellowed-with-age-old-manuscript-with-blank-space-for-text-gm1447350449-485187792?utm_campaign=srp_photos_bottom&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fscrolls%3Forientation%3Dlandscape&utm_medium=affiliate&utm_source=unsplash&utm_term=scrolls%3A%3A%3A');
    /* Optionally, you can set other properties like background size, repeat, position, etc. */
    background-size: cover; /* Adjusts the size of the background image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    /* You can add more properties as needed */
}

.strengthDiv {
    background-image: url('/images/strengthsnip.png');
    width: 100px; 
}

.name {
    text-align: center;
}

.raceForm {
    text-align: center;
}

.savingsAndStats {
    text-align: center;
    padding-bottom: 24px;;
}

.statsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . ."; 
    place-items: center;
}

.stats {
    border: solid 1px;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modifier {
    border: solid 1px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}